In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38765 entries, 0 to 38764
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Member_number    38765 non-null  int64
 1   Date             38765 non-null  object
 2   itemDescription  38765 non-null  object
dtypes: int64(1), object(2)
memory usage: 908.7+ KB

In [4]:
df['single_transaction'] = df['Member_number'].astype(str) + '_' + df['Date']
df.head()

   Member_number        Date   itemDescription single_transaction
0           1808  21-07-2015    tropical fruit    1808_21-07-2015
1           2552  05-01-2015        whole milk    2552_05-01-2015
2           2300  19-09-2015         pip fruit    2300_19-09-2015
3           1187  12-12-2015  other vegetables    1187_12-12-2015
4           3037  01-02-2015        whole milk    3037_01-02-2015

In [5]:
# Creates a pivot table.
# First argument of the crosstab function receives the variable that will be on the rows.
# Second argument receives variable to be on the columns.
df2 = pd.crosstab(df['single_transaction'], df['itemDescription'])
df2.head()

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
single_transaction,,,,,,,,,,,,,,,,,,,,,
1000_15-03-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1000_24-06-2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1000_24-07-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_25-11-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_27-05-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
# df2 can have values greater than 1 if someone buys more than 1 of the same item in the same purchase.
# Market basket analysis does not take quantity of items in consideration, so we transform it to 1.
def encode(item_freq):
    res = 0

    if item_freq > 0:
        res = 1
    
    return res

In [7]:
basket_input = df2.applymap(encode)
basket_input.head()

/tmp/ipykernel_4096/2115970457.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  basket_input = df2.applymap(encode)

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
single_transaction,,,,,,,,,,,,,,,,,,,,,
1000_15-03-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1000_24-06-2014,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1000_24-07-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_25-11-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1000_27-05-2015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
from mlxtend.frequent_patterns import apriori, association_rules

frequent_itemsets = apriori(basket_input, min_support=0.001, use_colnames=True)

# Lift referes to the increase in ratio of the sale of milk when you sell bread.
# Lift of 1.3 means that customers are 1.3 times more likely to buy milk if you also sell bread.
rules = association_rules(frequent_itemsets, metric="lift")
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,-0.000228,0.996168,-0.185312
1,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,-0.000228,0.988755,-0.179204
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,-0.000473,0.975443,-0.184234
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,-0.000473,0.996060,-0.201119
4,(UHT-milk),(sausage),0.021386,0.060349,0.001136,0.053125,0.880298,-0.000154,0.992371,-0.121998

In [9]:
rules.sort_values(["lift"], axis=0, ascending=False)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
728,"(whole milk, yogurt)",(sausage),0.011161,0.060349,0.001470,0.131737,2.182917,0.000797,1.082219,0.548014
733,(sausage),"(whole milk, yogurt)",0.060349,0.011161,0.001470,0.024363,2.182917,0.000797,1.013532,0.576701
730,"(whole milk, sausage)",(yogurt),0.008955,0.085879,0.001470,0.164179,1.911760,0.000701,1.093681,0.481231
731,(yogurt),"(whole milk, sausage)",0.085879,0.008955,0.001470,0.017121,1.911760,0.000701,1.008307,0.521727
246,(citrus fruit),(specialty chocolate),0.053131,0.015973,0.001403,0.026415,1.653762,0.000555,1.010726,0.417500
...,...,...,...,...,...,...,...,...,...,...
573,(tropical fruit),(pastry),0.067767,0.051728,0.002807,0.041420,0.800735,-0.000699,0.989247,-0.210698
245,(citrus fruit),(rolls/buns),0.053131,0.110005,0.004678,0.088050,0.800423,-0.001166,0.975926,-0.208441
244,(rolls/buns),(citrus fruit),0.110005,0.053131,0.004678,0.042527,0.800423,-0.001166,0.988925,-0.218846
703,(other vegetables),"(soda, whole milk)",0.122101,0.011629,0.001136,0.009305,0.800165,-0.000284,0.997654,-0.221473
702,"(soda, whole milk)",(other vegetables),0.011629,0.122101,0.001136,0.097701,0.800165,-0.000284,0.972958,-0.201711